/bin
/out
/run
*.classpath
*.project
.settings/
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
build/
eclipse/
.gradle/
output/
.cache
*.iml
*.ipr
*.iws
*.idea/
logs/
html/downloads/
downloads/
*.xml
APP-AuthTest/
CompiledWith.txt
banned-ips.json
banned-players.json
ops.json
whitelist.json
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt
Conservation of Mass Mod_Client.launch
Conservation of Mass Mod_Server.launch
forge*changelog.txt